{% extends 'base.html' %} {% block content %}

<div class="card">
  <div class="card-header">
    <strong> {{ account_details.account_name }}</strong>
  </div>
  <div class="card-body">
    <p class="card-text">
      <strong>Account ID: </strong>{{ account_details.account_id }}
    </p>

    <p class="card-text"><strong>Email: </strong>{{ account_details.email }}</p>

    <p class="card-text">
      <strong>ACcount Name: </strong>{{ account_details.account_name }}
    </p>

    <p class="card-text">
      <strong>App Secret Token: </strong>{{ account_details.app_secret_token }}
    </p>

    <p class="card-text">
      <strong>Website: </strong>{{ account_details.website }}
    </p>
  </div>
</div>

<br /><br />
<a href="{% url 'accounts' %}" class="btn btn-secondary">Back</a>

<a href="{% url 'delete_account' account_details.account_id %}" class="btn btn-danger"
  >Delete</a
>

<a href="{% url 'update_account' account_details.account_id %}" class="btn btn-secondary"
  >Update Account</a
>

{% endblock %}
